{% extends "layout.html" %}

{% block content %}
    <h2>Amigurumi</h2>
    <p>Hover on an item to check the price. Click on an item to order.</p>
    <div class="image-container">
        <img src="static/images/amongus.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Among Us Price: Rs. 350">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/angrybird.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Peace was never an option Duck Price: Rs. 200">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/bunny.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Bunny Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/cat.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Cat Price: Rs. 200">
        <span class="hover-text "></span>
    </div>
    <div class="image-container">
        <img src="static/images/dog_bone.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Dog Bone Price: Rs. 200">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/fish.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Fish Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/frog.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Frog Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/ghost.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Ghost Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/hamster.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Sad Hamster Price: Rs. 250">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/hedgehog.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Hedgehog Price: Rs. 350">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/jellyfish.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Jellyfish Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/kitty.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Kitty Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/koala.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Koala Price: Rs. 350">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/mickeymouse.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Mickey Mouse Price: Rs. 100">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/octopus.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Octopus Price: Rs. 100">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/owl.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Owl Price: Rs. 400">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/panda.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Panda Price: Rs. 400">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/penguin.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Penguin Price: Rs. 250">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/pokeball.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Pokeball Price: Rs. 400">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/squirtle.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Squirtle Price: Rs. 500">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/umbreon.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Umbreon Price: Rs. 500">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/squirtle_pokeball.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Pokeball with Pokemon Price: Rs. 1000">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/pooh.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Winnie the Pooh Price: Rs. 350">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/sheep.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Sheep Price: Rs. 200">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/snowman.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Snowman Price: Rs. 150">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/starfish.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Starfish Price: Rs. 100">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/teddy_big.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Large Teddy Bear Price: Rs. 1000">
        <span class="hover-text"></span>
    </div>    
    <div class="image-container">
        <img src="static/images/teddy_small.png" alt="Me" style="float: left; margin-right: 5px;" width="300" data-text="Small Teddy Bear: Set of 2 Price: Rs. 750">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/tortoise.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Tortoise Price: Rs. 200">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/whale.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Whale Price: Rs. 300">
        <span class="hover-text"></span>
    </div>
{% endblock %}