{% extends "layout.html" %}

{% block content %}
    <h2>Decor</h2>
    <p>Hover on an item to check the price. Click on an item to order.</p>
    <div class="image-container">
        <img src="static/images/tablemat_shell.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Table Mat: Shell Design Price: Rs. 500">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/tablemat-star.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Table Mat: Star Design Price: Rs. 500">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/tablemat_rainbow.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Table Mat: Rainbow Price: Rs. 750">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/bookmark_cat.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Cat Bookmark Price: Rs. 50">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/bouquet.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Bouquet Coaster: Set of 6 Price: Rs. 500">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/bouquet_coaster.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Bouquet Coaster: Set of 6 Price: Rs. 500">
        <span class="hover-text"></span>
    <div class="image-container">
        <img src="static/images/cushioncover_flower.png" alt="Me" style="float: left; margin-right: 10px;" width="300" data-text="Cushion Cover: Flower Price: Rs. 350">
        <span class="hover-text"></span>
    </div>
    <div class="image-container">
        <img src="static/images/cushioncover_square.png" alt="Me" style="float: left; margin-right: 5px;" width="300" data-text="Cushion Cover: Granny Square Price: Rs. 300">
        <span class="hover-text"></span>
    </div>
{% endblock %}