{% extends "layout.html" %}

{% block content %}
    <h2>Edit</h2>
    <form action="/edit" method="post">
        <div>
            <input type="text" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div>
            <input type="text" name="new_password" placeholder="New Password" type="password">
        </div>
        <div>
            <input type="text" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}