{% extends "layout.html" %}

{% block content %}
    <h2>Welcome to Scalpels and Hooks!</h2>
    <p>Scalpels and Hooks is a small venture that sells crochet items - amigurumi and decor. We also take custom orders.</p>
    <p>Amigurumi is the Japanese art of knitting or crocheting small, stuffed yarn creatures. They can range from cute animals to different characters from your favorite shows, to miniature daily items, as stuffed toys, keyrings and table accessories.</p>
    <p>For crochet decor, there are options of cushion covers, bookmarks, coasters, table mats.</p>
    <p>For custom orders, you can contact us on Instagram: @scalpelsandhooks</p>
    <img src="static/images/crochet.png" alt="Me" style="float: center; margin-right: 10px;" width="500">
{% endblock %}