{% extends "layout.html" %}

{% block content %}
    <form action="/login" method="post">
        <div>
            <h2>Login</h2>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
        <div>
            <input autocomplete="off" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
{% endblock %}