{% extends "layout.html" %}

{% block content %}
    <form action="register" method="post">
        <div>
            <h1>Register</h1>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
        <div>
            <input autocomplete="off" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
{% endblock %}